NEXT_PUBLIC_SUPABASE_URL=https://mzbicxpiyfjfamstplqm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16YmljeHBpeWZqZmFtc3RwbHFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0NDI3MDksImV4cCI6MjA5OTAxODcwOX0.kFiz5txuhTyn5w33rGT03olwdMPz1DN7ZQ4LJcOnanE
